*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    line-height:1.6;
    background: #0097;
    
}
nav{
    color:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
    background:wheat;
}
nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:black;
    text-decoration:none;
}

nav a:hover{
    font-weight: bold;
}

#home{
    text-align: center;
    padding:60px 20px;
}
#home img{
    width:180px;
    border-radius:50%;
    margin-bottom:20px;
}
#home h3{
    text-decoration: dashed;
    margin-bottom:10px;
    font-style: italic;
}
#home p{
     margin-bottom:20px;
     font-style: italic;
}
button{
    padding:12px 25px;
    background:wheat;
    color:whitesmoke;
    border:none;
    border: radius 10px;
    cursor:pointer;
}
button a{
    text-decoration: none;
}
button :hover{
     background:#0097a7;
}

section{
    padding:60px;
    background: #0097;
}

section h2{
    margin-bottom:20px;
    text-align:center;
}
#about{
    background-color:#0096 ;
}